services:
  backend:
    build: ./backend
    container_name: saffron_monitor_backend
    ports:
      - "9000:9000"
  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:9000
    depends_on:
      - backend
